# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env
.python-version

# OS
.DS_Store

.claude/

CLAUDE.md